name: Security analysis

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  schedule:
    - cron: '0 0 * * 1'

jobs:
  security:
    uses: dvsa/.github/.github/workflows/php-library-security.yml@v4.1.1
    with: 
     php-versions: "[\"7.4\",\"8.0\"]"
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}