name: Security analysis

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  schedule:
    - cron: '0 0 * * 1'

jobs:
  security:
    uses: dvsa/.github/.github/workflows/php-security.yml@v4.0.2
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}