name: CI

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  contents: read

jobs:
  conventional-commits:
    name: Conventional Commits Check
    uses: ./.github/workflows/conventional-commits.yaml
    with:
      title: ${{ github.event.pull_request.title }}
