name: Lint

on:
  workflow_call:
    inputs:
      max-warnings:
        required: false
        type: number
        default: 0
      node-version:
        type: string
        required: false
        default: '18.x'
      npm-version:
        type: string
        required: false
        default: 'latest'
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: dvsa/.github/.github/actions/install-deps@v4.0.1
        with:
          node-version: ${{ inputs.node-version }}
          npm-version: ${{ inputs.npm-version }}
      - name: Lint
        run: npm run lint -- --max-warnings ${{ inputs.max-warnings }}
