name: Test

on:
  workflow_call:
    inputs:
      test-command:
        required: false
        type: string
        default: 'npm run test'
      node-version:
        required: false
        type: string
        default: '18.x'
      npm-version:
        required: false
        type: string
        default: 'latest'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        uses: dvsa/.github/.github/actions/install-deps@feature/VOL-3681-node-version-definable
        with:
          node-version: ${{ inputs.node-version }}
          npm-version: ${{ inputs.npm-version }}
      - name: Test
        run: ${{ inputs.test-command }}
