name: Build

on:
  workflow_call:
    inputs:
      upload-artifact:
        required: false
        type: boolean
        default: false
      build-folder:
        required: false
        type: string
        default: 'dist'
      build-folder-path:
        required: false
        type: string
        default: 'dist'
      retention-days:
        required: false
        type: number
        default: 3
      build-command:
        required: false
        type: string
        default: 'npm run package'
      node-version:
        type: string
        required: false
        default: '18.x'
      npm-version:
        type: string
        required: false
        default: 'latest'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: dvsa/.github/.github/actions/install-deps@v4.0.1
        with:
          node-version: ${{ inputs.node-version }}
          npm-version: ${{ inputs.npm-version }}
      - name: Build
        run: ${{ inputs.build-command }}
      - name: Upload artifact
        if: inputs.upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.build-folder }}
          path: ${{ inputs.build-folder-path }}
          retention-days: ${{ inputs.retention-days }}
