name: Publish

on:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: false
        default: '18.x'
      download-artifact:
        required: false
        type: boolean
        default: false
      build-folder:
        required: false
        type: string
        default: 'package'
      build-folder-path:
        required: false
        type: string
        default: 'dist'
      args:
        required: false
        type: string
    secrets:
      NPM_AUTH_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build on Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Download build artifact
        if: inputs.download-artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.build-folder }}
          path: ${{ inputs.build-folder-path }}
      - name: Publish to npm.js
        run: npm publish ${{ inputs.args }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
