name: Security

on:
  workflow_call:
    secrets:
      SNYK_TOKEN:
        required: true
    inputs:
      php-versions:
        required: true
        type: string
      fail-fast:
        required: false
        default: true
        type: boolean
      severity-threshold:
        required: false
        type: string


jobs:
  snyk:
    permissions:
      security-events: write
      actions: read
      contents: read
    runs-on: ubuntu-latest
    name: Snyk PHP Scan
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        php: ${{ fromJSON(inputs.php-versions) }}
        stability: [prefer-lowest, prefer-stable]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none
          extensions: mbstring

      - name: Composer install
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/php@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          SEVERITY_THRESHOLD: ${{ inputs.severity-threshold && format('--severity-threshold={0}', inputs.severity-threshold) || '' }}
        with:
          args: --sarif-file-output=snyk.sarif $SEVERITY_THRESHOLD

      - name: isPrivate
        uses: octokit/graphql-action@v2.x
        id: isPrivate
        with:
          query: |
            query release($owner:String!,$repo:String!) {
              repository(owner:$owner,name:$repo) {
                isPrivate
              }
            }
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          graphqlEndpoint: ${{ github.graphql_url }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload result to GitHub Code Scanning
        if: ${{ fromJSON(steps.isPrivate.outputs.data).repository.isPrivate  == false  }}
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: snyk.sarif
