name: Static analysis

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        type: string
        default: 'latest'
      composer-version:
        required: false
        type: string
        default: 'v2'
      working-directory:
        required: false
        type: string
        default: '.'

jobs:
  phpstan:

    name: PHPStan - ${{ inputs.php-version }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          coverage: none
          tools: phpstan, composer:${{ inputs.composer-version }}

      - name: Install Composer dependancies
        run: composer install --no-progress --no-interaction --working-directory=${{ inputs.working-directory }}

      - name: Execute PHPStan
        run: phpstan analyze --no-progress
        working-directory: ${{ inputs.working-directory }}

  php-codesniffer:

    name: PHP-CodeSniffer - ${{ inputs.php-version }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          coverage: none
          tools: php-cs-fixer, phpcs, composer:${{ inputs.composer-version }}

      - name: Install Composer dependancies
        run: composer install --no-progress --no-interaction --working-directory=${{ inputs.working-directory }}

      - name: Execute PHP CodeSniffer
        run: phpcs -q
        working-directory: ${{ inputs.working-directory }}

  psalm:

    name: Psalm - ${{ inputs.php-version }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          coverage: none
          extensions: mbstring, intl, igbinary
          tools: vimeo/psalm, composer:${{ inputs.composer-version }}

      - name: Install Composer dependancies
        run: composer install --no-progress --no-interaction --working-directory=${{ inputs.working-directory }}

      - name: Execute Psalm
        run: psalm --no-progress --output-format=github --root=${GITHUB_WORKSPACE}/${{ inputs.working-directory }}
        working-directory: ${{ inputs.working-directory }}
