name: Static analysis

on:
  workflow_call:
    inputs:
      fail-fast:
        required: false
        default: true
        type: boolean
      phpstan-composer-install:
        required: false
        default: false
        type: boolean
      phpcs-composer-install:
        required: false
        default: false
        type: boolean
      psalm-composer-install:
        required: false
        default: true
        type: boolean
  
jobs:
  phpstan:
    name: PHPStan 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        stability: [prefer-lowest, prefer-stable]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          coverage: none
          tools: phpstan

      - name: Setup composer
        if: ${{ phpstan-composer-install }}
        run: composer install --no-progress

      - name: Execute PHPStan
        run: phpstan analyze --no-progress

  php-codesniffer:
   
    name: PHP-CodeSniffer 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          coverage: none
          tools: php-cs-fixer, phpcs

      - name: Setup composer
        if: ${{ phpcs-composer-install }}
        run: composer install --no-progress

      - name: Execute PHP CodeSniffer
        run: phpcs -q

  psalm:
    
    name: Psalm 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        stability: [prefer-lowest, prefer-stable]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          coverage: none
          extensions: mbstring, intl
          tools: vimeo/psalm
          
      - name: Setup composer
        if: ${{ psalm-composer-install }}
        run: composer install --no-progress

      - name: Execute Psalm
        run: psalm --no-progress --output-format=github --root=${GITHUB_WORKSPACE}
