name: Static analysis

on:
 workflow_call:

jobs:
  phpstan:
   
    name: PHPStan 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none
          tools: phpstan

      - name: Execute PHPStan
        run: phpstan analyze --no-progress

  php-codesniffer:
   
    name: PHP-CodeSniffer - '8.1'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none
          tools: php-cs-fixer, phpcs
      - name: Execute PHP CodeSniffer
        run: phpcs -q

  psalm:
    
    name: Psalm - '8.1'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none
          extensions: mbstring, intl
          tools: vimeo/psalm
    
      - name: Execute Psalm
        run: psalm --no-progress --output-format=github --root=${GITHUB_WORKSPACE}
