name: Upload action
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      short-commit:
        required: true
        type: string
      optional-tags:
        required: false
        type: string
        default: ''
      artifact:
        required: true
        type: string
      bucket-key:
        required: true
        type: string
      build-folder:
        required: false
        type: string
        default: dist
    secrets:
      AWS_ACCOUNT:
        required: true
      AWS_REGION:
        required: true
      AWS_ROLE_TO_ASSUME_ARN:
        required: true
      BUCKET_NAME:
        required: true
jobs:
  upload:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
    steps:
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
          role-session-name: GithubActionsSession
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Download build artifact
        id: download
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.build-folder }}
      - name: Upload to s3
        run: >
          aws s3api put-object
          --tagging 'short_commit_id=${{ inputs.short-commit }}&${{ inputs.optional-tags }}'
          --bucket ${{ secrets.BUCKET_NAME }}
          --key ${{ inputs.bucket-key }}
          --body ${{steps.download.outputs.download-path}}/${{ inputs.artifact }}
